{% extends 'uibase.html' %}

{% load static %}

{% load v2rayui_filter %}

{% block title %}网站用户管理{% endblock title %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
{% endblock css %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
{% endblock js %}

{% block content %}
    <section class="content pt-4">
        <div class="container-fluid">
            <h5 class="mb-3">用户统计</h5>
            <div class="row border-bottom">
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-success"><i class="fas fa-calculator"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">总用户</span>
                            <span class="info-box-number">{{ users|length }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-primary"><i class="fas fa-hand-holding-usd"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">免费用户</span>
                            <span class="info-box-number">{{ users|get_free_users_count }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-warning"><i class="fas fa-yen-sign"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">收费用户</span>
                            <span class="info-box-number">{{ users|get_charge_users_count }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-danger"><i class="far fa-calendar-alt"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">过期用户</span>
                            <span class="info-box-number">{{ users|get_expired_users_count }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <h5 class="mt-3">用户列表</h5>
            <div class="row pb-5">
                <div class="col-12">
                    <table id="users-list-table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>编辑</th>
                            <th class="d-none">用户ID</th>
                            <th>用户名</th>
                            <th>当月已用流量</th>
                            <th class="d-none d-sm-table-cell">每月总流量</th>
                            <th class="d-none d-sm-table-cell">用户等级</th>
                            <th class="d-none d-sm-table-cell">额外ID</th>
                            <th>免费用户</th>
                            <th>已过期</th>
                            <th>过期时间</th>
                            <th class="d-none">邀请人</th>
                            <th class="d-none">剩余邀请码</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr class="user-list-tr">
                                <td>
                                    <button type="button" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#user-edit-modal" data-v2rayui-user-id="{{ user.user_id }}" data-v2rayui-username="{{ user.username }}" data-v2rayui-user-level="{{ user.level }}" data-v2rayui-user-alter-id="{{ user.alter_id }}" data-v2rayui-user-is-free="{% if user.is_free %}是{% else %}否{% endif %}" data-v2rayui-user-expire-at="{{ user.expire_at|date:"Y-m-d" }}" data-v2rayui-user-invite-code-num="{{ user.invite_code_num }}" data-v2rayui-user-total-traffic="{{ user.total_traffic }}">
                                        <i class="fas fa-pen"></i>
                                    </button>
                                </td>
                                <td class="d-none">{{ user.user_id }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.user_id|get_user_traffic:users_traffic }}GB</td>
                                <td class="d-none d-sm-table-cell">{{ user.total_traffic }}GB</td>
                                <td class="d-none d-sm-table-cell">{{ user.level }}</td>
                                <td class="d-none d-sm-table-cell">{{ user.alter_id }}</td>
                                <td>{% if user.is_free %}是{% else %}否{% endif %}</td>
                                <td>{% if user.is_free %}否{% elif user.expire_at|get_if_expired %}是{% else %}否{% endif %}</td>
                                <td>{{ user.expire_at|date:"Y-m-d" }}</td>
                                <td class="d-none">{{ user.inviter_name }}</td>
                                <td class="d-none">{{ user.invite_code_num }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="user-edit-modal" tabindex="-1" role="dialog" aria-labelledby="user-edit-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form action="{% url 'users' %}" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="user-edit-modal-title">修改用户</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span class="">用户ID</span>
                                </div>
                            </div>
                            {{ form.user_id }}
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span class="">过期日期</span>
                                </div>
                            </div>
                            {{ form.expire_at }}
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span class="">总流量</span>
                                </div>
                            </div>
                            {{ form.total_traffic }}
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span class="">邀请码数量</span>
                                </div>
                            </div>
                            {{ form.invite_code_num }}
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span class="">是否免费</span>
                                </div>
                            </div>
                            {{ form.is_free }}
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span class="">等级</span>
                                </div>
                            </div>
                            {{ form.level }}
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span class="">额外ID</span>
                                </div>
                            </div>
                            {{ form.alter_id }}
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span class="">用户密码</span>
                                </div>
                            </div>
                            {{ form.password }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary">修改</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            $('#users-list-table').DataTable({
                "paging": false,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "scrollX": true,
                "language": {
                    "emptyTable": "没有数据哟~~",
                    "info": "当前显示 _START_ 条到 _END_ 条 共 _TOTAL_ 条",
                    "infoEmpty": "无记录",
                    "infoFiltered": "(从 _MAX_ 条记录过滤)",
                    "lengthMenu": "每页 _MENU_ 条记录",
                    "search": "搜索",
                    "zeroRecords": "没有找到",
                    "paginate": {
                        "first": "首页",
                        "previous": "上一页",
                        "next": "下一页",
                        "last": "尾页"
                    }
                }
            });
        });

        $('#user-edit-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var user_name = button.data('v2rayui-username');
            var user_id = button.data('v2rayui-user-id');
            var user_level = button.data('v2rayui-user-level');
            var user_alter_id = button.data('v2rayui-user-alter-id');
            var user_is_free = button.data('v2rayui-user-is-free');
            var user_expire_at = button.data('v2rayui-user-expire-at');
            var user_invite_code_num = button.data('v2rayui-user-invite-code-num');
            var user_total_traffic = button.data('v2rayui-user-total-traffic');
            $("#id_user_id").attr("value", user_id);
            $("#id_expire_at").attr("value", user_expire_at);
            $("#id_total_traffic").attr("value", user_total_traffic);
            $("#id_invite_code_num").attr("value", user_invite_code_num);
            $("#id_is_free").val(user_is_free == "是" ? "True" : "False");
            $("#id_level").attr("value", user_level);
            $("#id_alter_id").attr("value", user_alter_id);
            $("#user-edit-modal-title").text("修改用户：" + user_name);
        });
    </script>
{% endblock content %}